<div class="subContainer divHeight" id="mainRicipeContainer">
    <div class="mainRicipe">
        <div class="image" id="spaghetti">

        </div>
        <div class="mainRicipeExplainantion">
            <h2>Spaghetti bolognese</h2>
            <div class="dishDescribtion"><span>Leckere Spaghetti Bolognese leicht und schnell zu Hause zubereitet wie
                    beim Italiener. Mit nur 20 Minuten Aufwand das perfekte Abendessen zaubern.</span></div>
            <a href ="adriano_ricipe.html"><button class="button" id="openMainRicipe" >Rezept öffnen</button></a>
        </div>
    </div>




</div>