<div class="subContainer divHeight">
    <div class="header_wok ">
        <h2>Pfanne vs. Wok - Was ist besser?</h2>
    </div>

    <div class="title_section">

        <div class="wok_description">
            <span>Ein traditioneller Wok hat einen runden Boden. Eine Gasflamme erwärmt die gesamte Kuppel. Die
                europäisierte Wok-Pfanne liegt mit einem flachen Boden auf der Herdplatte auf. ... Edelstahl ist besser
                für Wok-Pfannen geeignet als Aluminium, weil es die Hitze besser hält.</span>

        </div>
        <div class="wok_img">
            <img class="image size" src="img/wok.jpg" onclick="changeToErkanRicipe()">
        </div>
    </div>
</div>