<div class=headerContainer>
    <div class="subContainer">
        <div class="setHeader">

            <a href="index.html"><div class="logoContainer">
                
            </div></a>
            <div class="navigationsBar">
                <a href="index.html">Start</a>
                <a href ="adriano_ricipe.html">Rezept des Tages</a>
                <a href ="contact_form.html">Kontakt</a>
                <a href ="impressum.html">Impressum</a>
            </div>
        </div>
    </div>
</div>