<div class="headline">
    <h1>Lust auf was Neues?</h1>
</div>

<div class="recipe_section_main">
    <div class="subContainer recipe_section">
        <div>
            <a href ="melanie_ricipe.html"><div class="container">
                <div class="card" >
                    <div class="front">
                        <img class="foodimage" src="img/croissant.jpg" >
                    </div>
                    <div class="back">
                        <span>Geschrieben von Melanie</span>
                    </div>
                </div>
            </div></a>
            <h3 class="text_center">Frische Croissants</h3>
        </div>

        <div>
            <a href ="adriano_ricipe.html"><div class="container">
                <div class="card">
                    <div class="front">
                        <img class="foodimage" src="img/spaghetti-1987454_640.jpg" >
                    </div>
                    <div class="back">
                        <span>Geschrieben von Adriano</span>
                    </div>
                </div>
            </div></a>
            <h3 class="text_center">Spaghetti Bolognese</p>
        </div>

        <div>
            <a href ="erkan_ricipe.html"><div class="container">
                <div class="card" >
                    <div class="front">
                        <img class="foodimage" src="img/wok-noodles.jpg" >
                    </div>
                    <div class="back">
                        <span>Geschrieben von Erkan</span>
                    </div>
                </div>
            </div></a>
            <h3 class="text_center">Gebratene Wok Nudeln</p>
        </div>
    </div>
</div>


